<#-- @ftlvariable name="" type="com.absolutenoob.sherlock.views.LogInView" -->
<html>
<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>Log In Page</div>
</body>
</html>

